/* 
    Created on : 28-Mar-2016, 17:42:44
    Author     : Cameron
*/

/* Main sections */

#wrapper{
    margin-left:240px;
}

#central{
    margin-top:3em;
    margin-bottom:7em;
}

/* Repeated classes */

.cke{
    margin-bottom:1em;
}
.fieldRow{
   /* padding:0.5em 0px; */
}

.longList{
    min-height:583px;
}

/* Media queries */

@media(max-width:500px){
    
}